<section class="single-post" ng-if="singlePost">
    <div class="row">
        <div class="small-12 column">
            <h3>
                {{singlePost.title}}
            </h3>
            <div ng-bind-html="singlePost.content | html"></div>
        </div>
    </div>
</section>

<section class="back-btn">
    <div class="row">
        <div class="small-12 column align-center">
            <a ng-click="back()" class="button">Back</a>
        </div>
    </div>
</section>