<div class="row">
    <div class="small-12 column text-center">
        <h1>Welcome on my site!</h1>
        <p>Have fun and try to not destroy it!</p>
    </div>
</div>
<section class="molecule-search-form">
    <form name="form" class="atom-form" data-ng-submit="submitForm(form.$valid)" novalidate>
        <div class="row align-center">
            <div class="small-12 medium-10 large-8 column">
                <div class="atom-input">
                    <label for="input-size">
                        Which blog do you want to search?
                    </label>
                    <input id="input-size" maxlength="100" type="text" name="site" ng-model="formData.site"
                           placeholder="Blog domain" ng-pattern="/^(https?:\/\/)?[\w,\-]+\.[a-z]{2,}/" required/>
                    <div class="error-hint"
                         ng-if="form.$submitted && (form.site.$error.required || form.site.$error.pattern || form.site.$error.maxlength) ">
                        Nope, it is not a correct address. Try to write correct one.
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-center">
            <div class="small-12 medium-10 large-8 column">
                <div class="atom-input variant-text-input">
                    <label for="input-search">
                        What do you want to search?
                    </label>
                    <input id="input-search" maxlength="100" type="text" name="search" placeholder="Search term"
                           ng-model="formData.search"/>
                    <div class="error-hint"
                         ng-if="form.$submitted && form.search.$error.maxlength">
                        The search term is too long.
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-center">
            <div class="small-12 medium-5 large-4 column">
                <div class="atom-select">
                    <label for="select-orderBy">
                        How do you want to order results?
                    </label>
                    <select id="select-orderBy" name="order_by" ng-model="formData.order_by"
                            ng-init="formData.order_by ? formData.order_by : formData.order_by='date'">
                        <option value="date">Created date</option>
                        <option value="modified">Last modified date</option>
                        <option value="title">Post title</option>
                    </select>
                </div>
            </div>

            <div class="small-12 medium-5 large-4 column end">
                <div class="atom-input">
                    <label for="input-number">
                        How many results do you want to see?
                    </label>
                    <input id="input-number" min="5" max="100" type="number" name="number"
                           ng-model="formData.number" ng-init="formData.number = 20" placeholder="Number 5 - 100"
                           required/>
                    <div class="error-hint"
                         ng-if="form.$submitted && (form.number.$error.required || form.number.$error.min || form.number.$error.max)">
                        The number has to be between 5 and 100.
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-center">
            <div class="small-12 medium-10 large-8 column">
                <div class="atom-submit">
                    <input type="submit" value="SEARCH!" class="button" ng-disabled="disabled"/>
                </div>
            </div>
        </div>
    </form>
</section>

<section class="molecule-search-results">
    <ul class="list" ng-if="searchResults.length">
        <li ng-repeat="post in searchResults" class="row">
            <a ng-href="/post/{{searchedSite | encodeURIComponentSlash}}/{{post.ID}}" class="small-12 column">
                <div class="row">
                    <div class="small-12 column">
                        <h4>{{post.title}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 medium-offset-1 medium-11 column">
                        <p class="created">Created:
                            <time>{{post.date | date : 'hh:ss dd-MM-yyyy'}}</time>
                        </p>
                        <p class="modified">Last modified:
                            <time>{{post.modified | date : 'hh:ss dd-MM-yyyy'}}</time>
                        </p>
                        <div ng-bind-html="post.excerpt | html"></div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</section>

<div class="atom-modal" id="modal" ng-class="{'open': modal.open}">
    <div class="atom-content">
        <h4>{{modal.title}}</h4>
        <p>{{modal.message}}</p>
        <a ng-click="modal.open = false" class="close">×</a>
    </div>
</div>