.molecule-search-results {

    > ul {
        padding: 40px 0;

        > li {
            padding-bottom: 20px;
        }
    }

    h4 {
        border-left: 10px solid $blue;
        padding-left: 10px;
    }

    p {
        margin-bottom: 10px;

        &.created {
            margin-bottom: 0;
        }

        time {
            font-weight: bold;
        }
    }
}
