.atom-form {
    &.ng-submitted {
        input {
            &.ng-invalid {
                border-color: $red;
            }
        }
    }

    .atom-input {
        position: relative;
    }

    label {
        margin-bottom: 5px;
        font-size: 11px;
    }

    input {
        margin: 0;
        transition: border-color .4 $cubic;
    }

    .error-hint {
        color: $red;
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 11px;
        line-height: 1;
    }
}

