.atom-modal {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($grey, .25);
    z-index: 9999;
    transition: opacity $cubic, visibility 0s .4s;

    &.open {
        transition: opacity $cubic, visibility 0s;
        opacity: 1;
        visibility: visible;
    }

    .close {
        position: absolute;
        top: 10px;
        right: 20px;
    }

    .atom-content {
        background: $white;
        border-radius: 20px;
        box-shadow: 0 0 10px 0 rgba($black, .5);
        position: absolute;
        top: 50%;
        left: 50%;
        width: 90vw;
        max-width: 550px;
        padding: 40px;
        transform: translate(-50%, -50%);
    }
}
