@mixin cover-background($img-uri: "", $background-top: "center", $background-left: "center", $background-attachment: "scroll") {
  background: url($img-uri) no-repeat unquote($background-top) unquote($background-left) unquote($background-attachment);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin screen($resMin, $resMax) {
  @media screen and (min-width: $resMin) and (max-width: $resMax) {
    @content;
  }
}

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

@mixin min-screen($res) {
  @media screen and (min-width: $res) {
    @content;
  }
}

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@mixin font-size($size) {
  $pxValues: '';
  $remValues: '';

  $pxValues: strip-unit($size);
  $remValues: $pxValues/16;

  #{font-size}: $pxValues + px;
  #{font-size}: $remValues + rem;
}

@mixin ul-justify {
  text-align: justify;

  //hack to justify last line in list
  &:after {
    content: "";
    display: inline-block;
    height: 0;
    line-height: 0;
    width: 100%;
    visibility: hidden;
  }

  > li {
    display: inline-block;
    vertical-align: top;
  }
}

@mixin hide-text {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
}

@mixin font-smooth {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}