#loading-bar {
    pointer-events: none;
    transition: 350ms linear all;

    &.ng-enter,
    &.ng-leave.ng-leave-active {
        opacity: 0;
    }

    &.ng-enter.ng-enter-active,
    &.ng-leave {
        opacity: 1;
    }

    .bar {
        transition: width 350ms;
        background: #29d;
        position: fixed;
        z-index: 10002;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        border-bottom-right-radius: 1px;
        border-top-right-radius: 1px;
    }

    .peg {
        position: absolute;
        width: 70px;
        right: 0;
        top: 0;
        height: 2px;
        opacity: .45;
        box-shadow: #29d 1px 0 6px 1px;
        border-radius: 50%;
    }
}
