@import "mixin";

//Typography
$font: 'lato', sans-serif;
$rem-base: 16px;
$black-weight: 700;
$bold: 600;
//$heavy: 500;
$regular: 400;
$light: 300;
//$book: 200;

//colors
$white: #fff;
$black: #000;
$blue: #2199e8;
$red: #f14a46;
$grey: #bfbfbf;

//foundation
$row-width: 71.875rem;

//other

$cubicOnly: cubic-bezier(.5, .6, .51, .92);
$cubic: .3s $cubicOnly;
