@import "variables";
@import 'foundation/foundation';
@import '_progress-bar';
@import 'font';

@include foundation-everything(false);

html {
    font-size: 16px;
}

body {
    font-family: $font;
    font-weight: 400;
    padding-top: 50px;
}

.fullWidth {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: none;

    .row {
        max-width: $row-width;
        margin: 0 auto;
    }
}

p {
    @include font-smooth;
    font-size: 16px;
    font-family: $font;
    line-height: 1.5;
    margin: 0 0 20px;

    @include max-screen(639px) {
        font-size: 14px;
    }
}

.is-menu-open {
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    @include font-smooth;
    font-family: $font;
    line-height: 1;
    text-transform: uppercase;
    margin: 0 0 20px;
}

h1 {
}

h2 {
}

h3 {
}

h4 {
}

h5 {

}

h6 {

}

figure {
    margin: 0;
}

img {
    vertical-align: top;
    max-width: 100%;
}

a {
    @include font-smooth;
    text-decoration: none;
    color: $black;
    transition: color $cubic;
}

ul {
    @include font-smooth;
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
        font-family: $font;
        line-height: 1.5;
    }
}

.text-center {
    text-align: center;
}

hr {
    border-color: $black;
}


